<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- SharePoint Online Username -->
		<add key="SPOAccount" value="" />
		<!-- SharePoint Online Password -->
		<add key="SPOPassword" value="" />
		<!-- SharePoint Online Site List name -->
		<add key="SPOList" value="" />
		<!-- SharePoint Online Site Collection web handle -->
		<add key="SPOSite" value="" />
		<!-- SharePoint Online Administration Site -->
		<add key="SPOAdminSite" value="" />
	</appSettings>
</configuration>